/*------------------------
GENERAL
------------------------*/


body{
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    text-align: justify;
    
    line-height: 22px;



}

section
{
    margin-left: 100px;
    margin-right: 100px;
}

article
{
    margin-top:100px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

/*------------------------
Titre et paragraphes
------------------------*/
#titre_principale
{
    font-size: 30px;
    border: 2px chocolate solid;
    border-radius:3px;
    width: 100%;
    color:chocolate;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 75px;
}

#titre_principale:hover
{
    font-size: 32px;
    color: rgb(206, 87, 2);
    border: 2px rgb(206, 87, 2) solid;

}

#switch
{
    margin-top: 50px;
}

.under
{
    text-decoration: underline;
}


p{
    padding-left: 3px;
    color: rgb(255, 235, 221);
    
}


p:hover
{
    font-size: 16px;
    color: rgb(201, 201, 201);
    border-left: 2px white solid;
    



}


/*------------------------
IMAGES
------------------------*/
#two_pic
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
}


#the_one
{
    margin-top: 50px;
}

#banner
{
    width: 100%;
    height: 100px;
    margin-bottom: 100px;
    margin-top: 10px;
}

/*------------------------
FOOTER
------------------------*/

#footer
{
    height:100px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

#line
{
    border-top: 2px white dashed;
    width: 90%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

}


#btn_home
{
    width: 60px;
    height: 20px;
    position: relative;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-right: 20px;

    
}

#btn_home:hover
{
    border-right: 2px white solid ;
}

#btn_top:hover
{
    border-right: 2px white solid;
}

#btn_top
{
    width: 60px;
    height: 20px;
    position: relative;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
}


#nee
{
    text-decoration: none;
    color:white 
}

#tee
{
    text-decoration: none;
    color:white 
}