body
{
    background-color: rgb(20, 20, 20);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-weight: lighter;
}

#bloc_page
{
    color:white;
    margin: auto;
}

section
{
    margin-bottom: 20px;
}



article
{   
    text-align: center;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}


.logo_article
{
    height: 30px;
   
}

#image_home_page
{
    height: 100px;
    margin-top: 100px;
    background: url('image_home_page.jpg') ;
    position: relative;
    z-index: -1;
}

article ul 
{
    display: flex;
    width: 100%;
    justify-content: space-around;

    

}
article ul li 
{
    list-style-type: none;

}

article ul li a
{
    color: white;
    text-decoration: none;
}

#image_os
{
    background: url('the_image_os.jpg') no-repeat;
    position: relative;
    height : 300px;
    width: 35%;
    margin-left: 25px;
}

#image_linux
{
    background: url('linux.jpg') no-repeat;
    position: relative;
    height : 300px;
    width: 35%;
    background-size: cover;
}

#illustration
{
    display: flex;
    justify-content: space-around;
}

